DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
NODE_ENV=development
PORT=3000
JWT_ACCESS_TOKEN_SECRET=your_access_token_secret_key
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret_key
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
UPLOAD_PROVIDER=local