NODE_ENV=production
UPLOAD_PROVIDER=s3
AWS_REGION=your_aws_region
AWS_S3_BUCKET=your_s3_bucket_name
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
//데이터 베이스 유알엘은 rds로 바꾸기
PORT=3000
JWT_ACCESS_TOKEN_SECRET=your_access_token_secret_key
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret_key
